/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: #7F598A;
    
}
* {
    user-select: none; /* Evita la selección en navegadores modernos */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
*::-webkit-scrollbar {
    display: none;
}
h1 {
    text-align: center;
    margin: 30px;
}
html {
    min-height: 100%;
    position: relative;
}
a {
    color: #7F598A;
    text-decoration: none;
}
header {
    background-color: #7F598A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:whitesmoke;
    width: 100%;
    height: 120px;
    img {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    p {
        margin-left: 20px;
        font-size: 15px;
        width: calc(100% - 510px);
    }
    li {
        display: inline-block;
        font-size: 15px;
        margin-right: 20px;
        
    }
    
}

.linea {
    color: whitesmoke;
}
.linea:after {
    display:block;
    content: '';
    border-bottom: solid 3px whitesmoke;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.linea:hover:after { transform: scaleX(1); }
.linea.fromRight:after{ transform-origin:100% 50%; }
.linea.fromLeft:after{  transform-origin: 0% 50%; }
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 150px;
}
/*      index.html      */
#presen {    
    display:flex;
    background-color: #7F598A;
    color: whitesmoke;
    border-radius: 15px;
    padding: 30px 15px;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    transition: .5s box-shadow;
    & > div {
        width: 45%;
    }
    p {
        text-align: justify;
    }
    div:last-child {
        display: flex;
        flex-direction: column;
        gap:10px;
        div{
            margin: auto;
            width: fit-content;
        }
    }
}
#presen:hover, .ubi:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: .5s box-shadow;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 15px #7F598A;
    }
}
#botonLink {
    color: #7F598A;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}
.claro {
    background-color: whitesmoke;
}
.oscuro {
    background-color: rgba(245, 245, 245, 0.85);

}
h2 {
    text-align: center;
    margin: 30px;
}
#serv {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 200px;
    grid-template-areas: 
        "sA sC sB";
    p {
        text-align: justify;
    }
}
#serv0, #serv1, #serv2, #serv3 {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
}

#serv0 {
    grid-area: sZ;
}

#serv1 {
    grid-area: sA;
}
#serv2 {
    grid-area: sB;
}
#serv3 {
    grid-area: sC;
}
.cuadros {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;  
    align-items: center;
    position: relative;
    color: whitesmoke;
    & > div:first-child {
        background-color: #7F598A;
        padding: 10px;
        height: 100%;
    }
    & > div {
        display: flex;
        transition: transform 0.5s;
        width: 100%;
        justify-content: center; 
        align-items: center;    
        position: absolute;      
    }
    & > div:first-child {
        transform: translateX(-100%);
    }
    &:hover > div:first-child {
        transform: translateX(0);
    }
    &:hover .imgServ {
        transform: translateX(100%);
    }
    p {
        width: calc(100% - 25px);
    }
}
.imgServ {
    transition: transform 0.5s ease;
    width: 400px;
    height: 100%;
    transform: translateX(0); 
    display: flex;
    justify-content: center;  
    align-items: center;
    background-position: center;
}
.imgServ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(127, 89, 138, 0.4);
    pointer-events: none;
}
.imgServ h3 {
    position: relative;
    color: whitesmoke;
    font-weight: normal;
    z-index: 1;  
    padding: 20px;
}
#img1 {
    background-image: url("../img/Servicios/serv1.webp");
}
#img2 {
    background-image: url("../img/Servicios/serv2.jpg");
}
#img3 {
    background-image: url("../img/Servicios/serv3.webp");
}
.bola {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #7F598A;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 90%;
    max-width: 1000px;
    height: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
            "c c c b b a a"
            "c c c b b a a"
            "d d g g e e e"
            "d d f f e e e";
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(7, 140px);
    gap: 10px; /* Espacio entre las imágenes */
    margin: auto;
    margin-bottom: 100px;
}
#item1 { grid-area: a; background-image: url("../img/corte1.jpg"); }
#item2 { grid-area: b; background-image: url("../img/corte2.webp"); }
#item3 { grid-area: c; background-image: url("../img/corte3.jpg"); }
#item4 { grid-area: d; background-image: url("../img/corte4.jpg"); }
#item5 { grid-area: e; background-image: url("../img/corte5.png"); }
#item6 { grid-area: f; background-image: url("../img/corte6.jpeg"); }
#item7 { grid-area: g; background-image: url("../img/corte7.jpg"); }
.item {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s box-shadow;
    box-shadow: 0px 0px 5px #7F598A;
}
.item:hover {
    transition: .5s box-shadow;
    box-shadow: #af85bb 0px 30px 60px -12px, #7F598A 0px 18px 36px -18px;

}
.ubi {
    padding: 40px;
    border-radius: 15px;
    background-color: #7F598A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 920px;
    height: 550px;
    margin: auto;
    margin-bottom: 200px;
    transition: .5s box-shadow;
    color: whitesmoke;
    div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > * {
            border-radius: 15px;
            width: 400px;
            height: 400px;
        }
    }
    div:last-child {
        text-align: justify;
        width: 90%;
        margin: auto;
    }
}
/*      productos.php y administrar.php     */
.enlaces {
    width: 100%;
    height: calc(100vh - 150px - 120px - 59px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;

    a {
        font-size: 25px;
    }
    .bola {
        width: 150px;
        height: 150px;
    }
}
.productos {
    width: 950px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: minmax(300px, auto);
    gap: 25px;
    margin-bottom: 150px;
    div {
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #7F598A;
        img {
            width: 150px;
            height: 150px;
            margin: auto;
        }
    }
}
.descrip {
    font-size: 13px;
}
.precio {
    float:right;
    font-weight: bold;
    font-size: 16px;
}
.margen {
    margin-left: 10px;
}
.ventana {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 500px;
    transform: translateY(-75%);
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px;
    height: fit-content;
    width: calc(300px - 40px);
    border-radius: 15px;
    background-color: #7F598A;
    color:whitesmoke;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
select {
    text-align: center;
    width: 175px;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}
input {
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
    width: 155px;
    margin-bottom: 30px;
    padding: 0 10px;
}
button {
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
    width: 175px;
    margin-bottom: 10px;
}
#type {
    margin-top: 40px;
    margin-bottom: 55px;
}
.ocultar{
    display:none;
}
#protector{
    position:absolute;
    top:0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
}
/*      FORMULARIOS         */
.formulari {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px - 120px);
    form {
        height: calc(100% - 60px);
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    & > div {
        width: 500px;
        height: 300px;
        background-color: #7F598A;
        border-radius: 15px;
        color: whitesmoke;
        text-align: center;
    }
    input[type="email"], input[type="text"], input[type="password"] {
        width: 60%;
        margin-left:  20%;
        margin-right:  20%;
        text-align: center;
    }
    input[type="number"] {
        width: auto;
    }
}
.cerrarSes {
    position: relative;
    top: -80px;
    text-align: center;
    font-size: 18px;
}
/*      TABLAS              */
table {
    margin: auto;
    border: 1px solid #7F598A;
    border-collapse: collapse;
    margin-bottom: 200px;
    tr {
        text-align: center;
    }
    th, td {
        border: 1px solid #7F598A;
        padding:10px;
    }
    tr:nth-child(even) {
        background-color: #7F598A;
        color: whitesmoke;
    }
}
.opciones {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top:20px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: 1px solid black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    img {
        width: 70%;
    }
}
.ins {
    background-color:greenyellow;
}
.act {
    background-color: yellow;
}
.eli {
    background-color: #ff3333;
}
.formUsu {
    width: 220px;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "tpo nom"
        "ema ema"
        "pwd pwd"
        "but1 but1"
        "but2 but2";
    grid-template-columns: repeat(2, 100px);
    gap: 13px;
    * {
        width: auto;
        margin: 0;
    }
}
#email {
    grid-area: ema;
}
#pwd {
    grid-area: pwd;
}
#tipo_usu {
    grid-area: tpo;
}
.formProd {
    width: 220px;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "id nom"
        "desc desc"
        "img tipo"
        "precio stock"
        "but1 but1"
        "but2 but2";
    grid-template-columns: repeat(2, 100px);
    gap: 7px;
    * {
        width: auto;
        margin: 0;
    }
}
.mostrarProducto {
    color: whitesmoke;
    position: fixed;
    top: 410px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 540px;
    width: 540px;
    z-index: 100;
    padding: 10px;
    background-color: #7F598A;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: 25px;
    text-align: center;

}
#formCarrito {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    gap: 20px;
    grid-template-areas: 
        "img img tit tit"
        "img img desc desc"
        "val val val val"
        "precio precio but1 but2";
    img {
        width: 240px;
        height: 240px;
        border-radius: 15px;
        transition: box-shadow 1s;
    }
    img:hover {
        transition: box-shadow 1s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #precio {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-size: 20px;
        align-self: end;

    }
    button {
        width: 120px;
        align-self: end;

    }
}
#val {
    grid-area: val;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    & > div {
        margin-bottom: 5px;
    }
} 
#val::-webkit-scrollbar {
    display: none;
} 
#cant {
    text-align: center;
    position: absolute;
    top:470px;
    left:52%;
    width: 100px;
}
#formVal {
    position: relative;
    top: -130px;
    display: flex;
    gap: 10px;
    width: 500px;
    margin: 0 20px;
    input {
        width: calc(100% - 50px);
    }
    button {
        border: none;
        background: none;
        padding: 0;
        width: 30px;
        height: 30px;

    }
    img {
        width: 30px;
        height: 30px;
    }
}
.valoracion {
    text-align: left;
    font-size: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    p {
        padding: 0;
        margin: 2px;
    }
    #nomVal {
        color: yellow;
    }
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.verde {
    color:lawngreen;
}
.naranja {
    color: orange;
}
.rojo {
    color: red;
}
#id {
    grid-area: id;
}
#nom {
    grid-area: nom;
}
#descrip {
    grid-area: desc;
}
#img {
    grid-area: img;
}
#tipo {
    grid-area: tipo;
}
#precio {
    grid-area: precio;
}
#stock {
    grid-area: stock;
}
#but1 {
    grid-area: but1;
}
#but2 {
    grid-area: but2;
}
#tProd {
    grid-area: tit;
}
.formAddVal {
    width: 220px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "prod eva" 
        "ema ema"
        "desc desc"
        "but1 but1"
        "but2 but2";
    grid-template-columns: repeat(2, 100px);
    gap: 7px;
    * {
        width: auto;
        margin: 0;
    }
    #but1 {
        margin-top: 20px;
    }
}
.formUpdVal {
    width: 220px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "id prod" 
        "ema ema"
        "desc desc"
        "eva eva"
        "but1 but1"
        "but2 but2";
    grid-template-columns: repeat(2, 100px);
    gap: 7px;
    * {
        width: auto;
        margin: 0;
    }
    #but1 {
        margin-top: 20px;
    }
}
.formDelVal {
    width: 220px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "id id"
        "but1 but1"
        "but2 but2";
    grid-template-columns: repeat(2, 100px);
    gap: 7px;
    * {
        width: auto;
        margin: 0;
    }
    #but1 {
        margin-top: 20px;
    }
}
#prod {
    grid-area: prod;
}
#eval {
    grid-area: eva;
}
.muestraCarrito {
    height: fit-content;
    width: fit-content;
}
.botonCarrito {
    background-color: whitesmoke;
    color: #7F598A;
    border-radius: 15px;
    padding: 5px;
    margin-top: 50px;
}
#botonesCarrito {
    display: flex;
    gap:10px;
    justify-content: center;
    height: fit-content;
}
#carrito {
    margin: auto;
    height: 250px;
    overflow-y: scroll;
    table {
        margin: 0 auto;
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        transition: box-shadow 1s;
    }
    input[type="number"] {
        width:40px;
        margin: 0;
        text-align: center;
    }
    td {
        width: fit-content;
        max-width: 100px;
    }
}
.borrarRegistro {
    background-color:red;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formActPed {
    width: 200px;
    height: fit-content;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 20px;
    grid-template-areas: 
        "id opt"
        "new new"
        "but1 but1"
        "but2 but2"
    ;
    input, button, select {
        width: auto;
    }
    input, select {
        margin:0;
    }
    button {
        margin:0;
    }
}
.formDelPed {
    width: 200px;
    height: fit-content;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 20px;
    grid-template-areas: 
        "id id"
        "but1 but1"
        "but2 but2"
    ;
    input, button, select {
        width: auto;
    }
    input, select {
        margin:0;
    }
    button {
        margin:0;
    }
}
#newValue {
    grid-area: new;    
}
#opcion {
    grid-area: opt;
}
/*      MEDIA PANTALLA      */
@media (max-width: 1200px) {
    /*      index.html      */
    .container {
        width: 600px;
        height: 750px;
        grid-template-rows: repeat(4, 175px);
        grid-template-columns: repeat(7, 85px);
        margin-bottom: 100px;
    }
    .ubi {
        width: calc(600px - 80px);
        height: 350px;
        margin: auto;
        margin-bottom: 200px;
        div:first-child {
            & > *  {
                width: 225px;
                height: 225px;
            }
        }
    }
    /*      productos.php y administrar.php     */
    .productos {
        width: 625px;
        grid-template-columns: repeat(2, 300px);
        margin: auto;
        margin-bottom: 150px;

    }
    
}
/*      PANTALLA PEQUEÑA      */
@media (max-width: 600px) {
    /*      index.html      */
    h2:first-of-type {
        margin-bottom:370px;
    }
    .container {
        width: 450px;
        height: 500px;
        grid-template-rows: repeat(4, 125px);
        grid-template-columns: repeat(7, 60px);
        margin-bottom: 100px;

    }
    .ubi {
        width: calc(400px - 80px);
        margin: auto;
        margin-bottom: 200px;

        div:first-child {
            & > *  {
                width: 150px;
                height: 150px;
            }
        }
    }
    /*      productos.php y administrar.php     */
    .productos {
        display:flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 150px;

        div {
            width: 70%;
            margin: auto;
            img {
                width: 150px;
                text-align: center;
            }
        }
    }
}
