body {
    margin:0;
    padding:0;
    color: white;
    background-color: #212121;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
}
#usuarios {
    position: absolute;
    bottom: 0;
    align-self: center;
    color: white;
    margin:5px;
    border: 0;
    background-color: #282828;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
#info {
    width: 600;
    margin: auto;
    margin-top: 40px;

    font-size: 25px;
    color: white;
    display: grid;
    background-color: #282828;

    align-items: center;
    grid-template-columns: repeat(2, "320px");
    grid-template-rows: repeat(3, "320px");
    grid-template-areas: 
        "a c"
        "b d"
        "e f";
    gap:20px;
    padding: 30px;
    border-radius: 15px;
    div {
        text-align: center;
    }
    img {
        margin: 10px;
        grid-area: a;
        border-radius: 50%;
        width: 300px;
    }
}
#nom {
    grid-area: b;
}
#edad {
    grid-area: c;
}
#ciudad {
    grid-area: d;
}
#web {
    grid-area: e;
}
#email {
    grid-area: f;
}