body {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    padding:30px;
    text-align:center;
    background-color:rebeccapurple;
    margin-bottom:60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    img {
        width:50px;
    }
    input {
        height: 30px;
        width:500px;
    }
}
main {
    width:720px;
    padding-left:60px;
    display:flex;
    gap:130px;
}
.oculto {
    display:none;
}
#lista {
    video {
        width:400px;
    }    
}
#repro {
    user-select: none;
    video {
        width: 800px;
    }
}
#botones {
    position:absolute;
    top: 583px;
    margin-top:10px;
    width:800px;
    gap:5px;
    text-align:center;
}
.botonesActivos {
    display: flex;
    justify-content: center;
}
#botones > div {
    width:20px;
    height:20px;
    display: grid;
    gap:5px;
}
.boton {
    display:flex;
    align-items: center;
    justify-content: center;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:rebeccapurple;
    font-size:9px;
    font-weight: bold;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    user-select: none;
    
    img {
        width:10px;
    }
}
.sombra {
    box-shadow: 1px 1px 5px black inset;
}
.play {
    background-image: url("../media/img/play.png");
}
.pause {
    background-image: url("../media/img/pause.png");
}
#barra {
    position:absolute;
    top: 575px;
    width:770px;
    padding-left:10px;
    padding-right:10px;
    font-size: 12px;
    text-align: right;
}
progress {
    width: 100%;
    height: 5px;
    appearance: none;
}
/*
    Para cambiar el color de la parte que avanza (progress bar)
*/
progress::-webkit-progress-bar {
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: rebeccapurple;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: rebeccapurple;
    border-radius: 10px;
}
/*
    Para tener el tactil
*/
#tactil {
    position:absolute;
    width: 800px;
    height: 450px;
    display:flex;
    transition: box-shadow 1s;
    div {
        width:50%;
        height: 90%;
        z-index:10;
    }
}
.sombraReproductor{
    transition: box-shadow 1s;
    box-shadow: inset 2px 2px 50px rgb(72, 72, 72),
                inset -2px -2px 50px rgb(72, 72, 72);
}
/*
    Quitar los controles por defecto del navegador
*/
#detach-button-host {
    display: none;
}
/*
    Bloquear pantalla por anuncio
*/
#protector {
    width:100%;
    height:1320px;
    position:absolute;
    left:0;
    top:0;
    z-index:50;
}
#anuncio {
    position: absolute;
    top:170px;
    left:60px;
    width:800px;
    height: 450px;
    background-color: red;
    font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#x {
    z-index:51;
    position:absolute;
    top:180px;
    left:820px;
    color:black;
    font-size: 30px;
    cursor:pointer;
    user-select: none;
}
#num {
    width:50px;
    font-size: 30px;
    text-align: center;
}