body {
    color: white;
    background-color: #212121;
    font-family: Tahoma;
    display: flex;
    align-items: center;
}
div {
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
}
#main {
    width: 99%;
    height: 100%;
    display:flex;
    align-items: center;
    gap: 2%;
    margin:auto;
}
#izq {

    width: 15%;
    height: 800px;
    background: #333;
    
}
#mid {
    height: 800px;
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#tablero {
    display: flex;    
    width: 100%;
    height: 50%;
    gap:20%;
    > div {
        background: #333;
        width: 40%;
    }
}
.mostrador {
    background: #333;
    width: 100%;
    height: 20%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
#der {
    height: 800px;
    width: 15%;
    background: #333;
}
.total {
    width: 100%;
    height: 80px;
    color:yellow;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comment {
    border: 1px solid #212121;
    border-radius: 10px;
    position:relative;
    top: 580px;
    height: 100px;
    margin: auto;
}
.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid whitesmoke;
    padding: 5px;
    width: calc(200px - 12px);
    height: 150px;
    * {
        margin: 0;
        padding: 0;
    }
    p:first-child {
        padding-right: 10px;
    }
    img {
        width: 100px;
        margin: 0 auto;
        
    }
    
}
#cartasJugador .carta {
    transition: 1s border;
    img {
        filter: drop-shadow(0px 0px 12px whitesmoke);
        transition:1s filter;
    }
}
#cartasJugador .carta:hover {
    border: 1px solid yellow;
    transition: 1s border;
    img {
        filter: drop-shadow(0px 0px 12px yellow);
        transition:1s filter;
    }
}
#nom {
    text-decoration: underline;
    text-align: center;
}
#xp {
    text-align: right;
    color: yellow;
    font-weight: bold;
}
.jugada {
    display: flex;
    justify-content: center;
    align-items: center;
}
.jugada .carta {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 0;
    font-size: 20px;
    img {
        width: 175px;
        margin: 20px auto;

    }
}
@media (max-width: 1300px) {
    #comment {
        width: calc(90% - 20px);
    }
}