body {
    color: white;
    background-color: #212121;
    font-family: Tahoma;
    display: flex;
    align-items: center;
}
div {
    border-radius: 10px;
}
#main {
    width: 99%;
    height: 100%;
    display:flex;
    align-items: center;
    gap: 2%;
    margin:auto;
}
#izq {

    width: 15%;
    height: 800px;
    background: #333;
    
}
#mid {
    height: 800px;
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#tablero {
    display: flex;    
    width: 100%;
    height: 50%;
    gap:20%;

    div {
        background: #333;
        width: 40%;
    }
}
.mostrador {
    background: #333;
    width: 100%;
    height: 20%;
}
#der {
    height: 800px;
    width: 15%;
    background: #333;
}
.total {
    width: 100%;
    height: 80px;
    color:yellow;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comment {
    border: 1px solid #212121;
    border-radius: 10px;
    position:relative;
    top: 600px;
    width:250px;
    height: 100px;
    margin: auto;
}

@media (max-width: 1300px) {
    #comment {
        width: 90%;
    }
}