body {
    padding: 0;
    margin: 0;
}
#contenedor1 {
    background-color: red;
} 
#contenedor2 {
    background-color: blue;
}
.imagen {
    width:200px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    img {
        width: 150px;
    }
}