body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: "retro";
    font-size: 30px;
    color:brown;

}

@font-face {
    font-family: "retro";
    src:url("../img/Retro\ Gaming.ttf");
    font-style: normal;
    font-weight: normal;
}
#todo {
    background-color: yellow;
    display:flex;
    flex-direction: column;
    width:1200px;
    margin:auto;
    margin-top: 100px;
}
#marcadores {
    margin:auto;
    margin-top:10px;
    width: 800px;
    display:flex;
    justify-content:space-between;
}

#vidas {
    display:flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
    }
    img {
        height: 40px;
    }
}
.marcador {
    display:flex;
    gap:15px;
    div {
        background-color: black;
        color:white;
    }
}
#centrar {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
#main {
    display:grid;
    grid-template-columns: repeat(21, 50px);
    grid-template-rows: repeat(13, 50px);
    width: 1050px;
    height:650px;
    background-color: white;
}
.camino {
    background-color: black;
}
.muro {
    background-color:brown;
    overflow:visible;
    z-index: 10;
}
#inicio {
    width:50px;
    height: 50px;
}
.pers-abj{
    background-image: url("../img/pers-abj.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 50px;
}
.pers-arr{
    background-image: url("../img/pers-arr.png");
    
    background-position: center, center;
    background-size: 50px;
}
.pers-der{
    background-image: url("../img/pers-der.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 50px;
}
.pers-izq{
    background-image: url("../img/pers-izq.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 50px;
}
.pasos-v {
    background-image: url("../img/pasos-v.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 25px;
}
.pasos-h {
    background-image: url("../img/pasos-h.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50px;
}
.amarillo {
    background-color: yellow;
}
.vacio {
    background-color: blue;
}
.tesoro {
    background-image: url("../img/tesoro.png");
    background-position: center;
    background-size: 150px;
}
.llave {
    background-image: url("../img/llave.png");
    background-position: center;
    background-size: 150px;
}
.sarcofago {
    background-image: url("../img/sarcofago.png");
    background-position: center;
    background-size: 150px;
}
.pergamino {
    background-image: url("../img/pergamino.png");
    background-position: center;
    background-size: 150px;
}
.momia {

}
.imagen {
    width:150px;
    height:100px;
    background-color:red;
}
